<!DOCTYPE html>
<html>
<head>
  <title>Detalle de Modalidad</title>
</head>
<body>
  <h1>Detalle de Modalidad</h1>
  <h2><%= modalidad.nombre %></h2>
  <p><%= modalidad.descripcion %></p>
  <a href="/modalidades/editar/<%= modalidad.id %>">Editar</a>
  <a href="/modalidades">Volver a la Lista</a>
</body>
</html>
